body, p, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
	min-width: 400px;
	background-color: #f4f7fc;
}

* {
  box-sizing: border-box;
}

@keyframes Bounce {
	0% {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0)
	}
	80% {
		-webkit-transform: scale3d(1.12, 1.12, 1.12);
		transform: scale3d(1.12, 1.12, 1.12)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

ul {
	list-style-type: none;
	li {
		text-decoration: none;
	}
}

a {
	text-decoration: none;
}

.app {
	margin: 31px 31px 31px 281px;
}

@media(max-width: 1050px) {
	.app {
		margin: 31px;
	}
}