body {
  font-family: 'Montserrat', sans-serif !important;
}

.auth_container {
  padding-top: 40px;
  height: 500px;
  width: 700px;
  margin: 0 auto;
}

.auth_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_buttons {
  display: flex;
  justify-content: center;
}

.mb-3 {
  max-width: 260px;
  margin: 0 auto;
}

.auth_button {
  margin-right: 15px;
}

.user_container {
  padding-top: 40px;
  height: 500px;
  width: 700px;
  margin: 0 auto;
}

.main_title {
  padding-top: 40px;
  margin: 0 auto;
}