.btn {
  border-radius: 7px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
  &:hover {
    color: #333333;
  }
  border: 0px;
  &:focus {
    background-color: #fff;
  }
}

.btn_dark {
  background-color: #333333;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background-color: #242323;
  }
  border: 0px;
  &:focus {
    background-color: #333333;
  }
}

.btn_orange {
  background-color: #F2994A;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background-color: #F8733A;
  }
  border: 0px;
  &:focus {
    background-color: #F2994A;
  }
}